<ion-header>
  <ion-toolbar>
    <ion-title>Ma comicsthèque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Création d'un nouveau comics</h2>
  <ion-button routerLink="/tab/comics/new">+</ion-button>
  <h2>Liste des comics</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let comic of comics">
        <ion-list [routerLink]="['/tab/comics/', comic.id]">
          <ion-item>
            <img [src]="comic.cover" [alt]="comic.name">
          </ion-item>
          <ion-item>
            {{comic.name}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
