<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="comics">
      <ion-icon name="book"></ion-icon>
      <ion-label>Comics</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="photo">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="people"></ion-icon>
      <ion-label>A propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
