<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/banner.png" alt="banner">
        <h1 class="ion-text-center">BIENVENUE SUR COMICSTHEQUE</h1>
        <h2 class="ion-text-center">Retrouvez</h2>
        <img src="https://i.pinimg.com/originals/86/f2/7f/86f27fe97e9decbaffc34cc8b82cb3b7.gif" alt="marvel gif"/>
        <h2 class="ion-text-center">Ou bien</h2>
        <img src="https://media.tenor.com/_nRcA6lOkCcAAAAC/dc-outro.gif" alt="dc gif"/>
        <h2 class="ion-text-center">Bonne visite !</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

